/* @font-face {
  font-family: "PretendardBlack";
  src: url("./styles/fonts/Pretendard-Black.subset.woff2");
}
@font-face {
  font-family: "PretendardBold";
  src: url("./styles/fonts/Pretendard-Bold.subset.woff2");
}
@font-face {
  font-family: "PretendardExtraBold";
  src: url("./styles/fonts/Pretendard-ExtraBold.subset.woff2");
}
@font-face {
  font-family: "PretendardExtraLight";
  src: url("./styles/fonts/Pretendard-ExtraLight.subset.woff2");
}
@font-face {
  font-family: "PretendardLight";
  src: url("./styles/fonts/Pretendard-Light.subset.woff2");
}
@font-face {
  font-family: "PretendardMedium";
  src: url("./styles/fonts/Pretendard-Medium.subset.woff2");
}
@font-face {
  font-family: "PretendardRegular";
  src: url("./styles/fonts/Pretendard-Regular.subset.woff2");
}
@font-face {
  font-family: "PretendardSemiBold";
  src: url("./styles/fonts/Pretendard-SemiBold.subset.woff2");
}
@font-face {
  font-family: "PretendardThin";
  src: url("./styles/fonts/Pretendard-Thin.subset.woff2");
} */
@import url("//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

/* FIXME : 스타일 수정 필요 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
        "Noto Sans KR", "Malgun Gothic", sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
    outline: none;
}
 a:hover,
a:active {
    text-decoration: none;
    color: #fff;
}
html,
body {
    height: 100%;
    background-color: #ffffff;
    min-height: calc(100% + env(safe-area-inset-top));
}
html {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
