@font-face {
  font-family: "PretendardMedium";
  src: url("./styles/fonts/Pretendard-Medium.otf") format("truetype");
}
@font-face {
  font-family: "PretendardRegular";
  src: url("./styles/fonts/Pretendard-Regular.otf") format("truetype");
}
@font-face {
  font-family: "PretendardSemiBold";
  src: url("./styles/fonts/Pretendard-SemiBold.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
 a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  /* background-color: #f59000; */
}
html,
body {
  height: 100%;
  background-color: #fbfbfb;
  min-height: calc(100% + env(safe-area-inset-top));
}
html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.nextui-c-eUuHzx {
  position: fixed !important;
  top: 48px !important;
}
.nextui-c-eUuHzx-gZuGQh-color-primary {
  --nextui--progressColor: #6b47fd !important;
  --nextui--progressShadowColor: #6b47fd !important;
}
.nextui-c-eUuHzx-hMPNGY-size-xs {
  height: 2px !important;
}
